[Unit]
Description=JanusGraph
Documentation=http://janusgraph.org/
After=network.target

[Service]
EnvironmentFile=/etc/opt/janusgraph/janusgraph.env
Type=forking
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity

WorkingDirectory=/opt/janusgraph
# Using /bin/bash gets around potential SELinux issues with Java
ExecStart=/bin/bash -c "${JANUSGRAPH_HOME}/bin/gremlin-server.sh start"
ExecStop=/bin/bash -c "${JANUSGRAPH_HOME}/bin/gremlin-server.sh stop"

[Install]
WantedBy=multi-user.target
